
body {
	background: url("image/image.jpg");
}

h1 {
	color: lightblue;
	text-align: center;
}

div#calculator {
	width: 40%;
	height: 500px;
	margin-left: 30%;
	margin-right: 30%;
}

div#error {
	height: 10%;
	margin: 5px 10px 10px 10px;
	/*border: 1px solid black;*/
	font-size: 25pt;
	color: red;
}

div#input_field {
	height: 5%;
	margin-right: 5%;
	padding-bottom: 1%;
	font-size: 18pt;
	color: lightblue;
	text-align: right;
	overflow: hidden;
}

div#output_field {
	height: 10%;
	margin-right: 5%;
	/*border: 3px solid black;*/
	font-size: 30pt;
	color: lightblue;
	text-align: right;
	overflow: hidden;
}

button {
	display: inline-block;
	width: 21%;
	height: 11%;
	font-size: 25pt;
	color: #FFFFFF;
	margin: 2% 1% 2% 1%;
	border: 0.5%;
	/*background-color: #444444;*/
	border-radius: 10%;
  background: url("image/image.jpg");
}
